<div class="section text-gray" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="social">
          Contact at <a href="mailto:structured3d@googlegroups.com" class="email" data-animate-hover="shake" data-animate="fadeInUp">Structured3D Group<i class="fa fa-envelope"></i></a>
        </p>
      </div>

      <div class="col-sm-6">
        <p class="text-right">
          Template by <a href="https://visualdialog.org" class="external">visualdialog.org</a>.</small>
        </p>
      </div>
    </div>
  </div>
</div>
