<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Structured3D</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="#news">News</a></li>
        <li><a href="#abstract">Abstract</a></li>
        <li><a href="#paper">Paper</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="#license">License</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="//www.shanghaitech.edu.cn">
            <img style="height:25px;" src="/static/img/ico/shanghaitech.png">
          </a>
        </li>

        <li>
          <a href="//kujiale.com">
            <img style="height:25px;" src="/static/img/ico/kujiale.png">
          </a>
        </li>

        <li>
          <a href="//psu.edu">
            <img style="height:25px;" src="/static/img/ico/psu.jpg">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
